@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet {
  /* height: 7px;
  width: 25px;
  background-color: gray;
  border-radius: 25px; */
  @apply h-[1px] w-[20px] bg-gray-300 rounded-[70px]
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fa4ee6;
}